* { box-sizing: border-box; }

body {
  box-sizing: border-box;
  color: $grey;
  font-family: "Poppins", sans-serif;
}

a { 
  display: inline-block;
  color: inherit;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.container { position: relative; }

.wrapper {
  margin: 0 auto;
  width: 60%; 

  @include breakpoint (large-pc) { width: 80%; }
}

%section-title { 
  color: $primary-color;
  text-align: center;
  text-transform: capitalize; 
  @include font (2.4rem, 500);
  @include breakpoint (ipad) { @include font (1.5rem, 500); }
}

%section-info {
  color: $tertiary-color;
  line-height: 1.6;
  @include font (1rem, 400);

  @include breakpoint (ipad) { 
    @include font (12px, 400); 
  }
}

%footer-title {
  color: $white;
  text-transform: capitalize;
  @include font (1.25rem, 400)
}

%input-element {
  width: 100%;
  padding: 16px;
  border: 1px solid #e1e5e3;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  @include font (16px, 500);
}
