* { box-sizing: border-box; }

body {
  box-sizing: border-box;
  color: $grey;
  font-family: "Poppins", sans-serif;
}

a { 
  display: inline-block;
  color: inherit;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.container { position: relative; }

.wrapper {
  margin: 0 auto;
  width: 60%; 
}

%section-title { 
  color: $primary-color;
  text-align: center;
  text-transform: capitalize; 
  @include font (2.4rem, 500);
  @include breakpoint (ipad) { @include font (2.5rem, 900); }
}

%section-info {
  color: $tertiary-color;
  line-height: 1.6;
  @include font (1rem, 400);

  @include breakpoint (ipad) { 
    padding: 1.5rem 0 3rem;
    @include font (1.3rem, 900); 
  
  }

}
