@mixin icon ($content, $font-size, $font-weight, $color) {
  content: $content;
  color: $color;
  font-family: "FontAwesome";
  font-size: $font-size;
  font-weight: $font-weight;
} 

@mixin flexBox ($flex-direction, $justify-content, $align-items, $wrap) {
  display: flex;

  @if $wrap { flex-wrap: wrap; }
  @else { flex-wrap: nowrap; }
  
  @if $flex-direction != auto { flex-direction: $flex-direction }
  @else { flex-direction: row }

  @if $justify-content != auto { justify-content: $justify-content }
  @else { justify-content: flex-start; }

  @if $align-items != auto { align-items: $align-items; }
  @else { align-items: stretch }
}

@mixin font ($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin pos-absolute ($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin  cta ($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-transform: capitalize;

  &:hover {
    background-color: transparent;
    color: $secondary-color;
  }
}

@mixin trans-grow ($scale) {
  transform: scale($scale);
  transition: transform ease-in-out .5s;
}

@mixin social-icon ($content, $icon-size) { @include icon ($content, $icon-size, 400, $grey) }

@mixin card-icon ($content) { 
  @include icon ($content, 1.8rem, 500, $white); 
  @include breakpoint (ipad-pro) { font-size: 1.2rem; }
}

@mixin breakpoint($device) {
  @if($device=='large-pc'){
    @media screen and (max-width: $large-pc) {
      @content;
    }
  }
  @if($device=='pc'){
    @media screen and (max-width: $pc) {
      @content;
    }
  }
  @else if($device=='ipad-pro') {
    @media screen and (max-width: $ipad-pro) {
      @content;
    }
  }
  @else if($device=='ipad') {
    @media screen and (max-width: $ipad) {
      @content;
    }
  }
  @else if($device=='large-mobile') {
    @media screen and (max-width: $large-mobile) {
      @content;
    }
  }
  @else if($device=='med-mobile') {
    @media screen and (max-width: $med-mobile) {
      @content;
    }
  }
  @else if($device=='small-mobile') {
    @media screen and (max-width: $small-mobile) {
      @content;
    }
  }
  @else if($device=='min-ipad') {
    @media screen and (min-width: $ipad) {
      @content;
    }
  }
}

