$primary-color: #375377;
$secondary-color: #3ed9a5;
$tertiary-color: #889faf;
$blue: #4e59fe;
$charcoal: #2d3b38;
$grey: #aec3cc;
$bluish-white: #f5f9f6;
$white: #fff;
$pink: #f73c85;


$pc:1440px;
$ipad-pro:1024px;
$ipad:768px;
$large-mobile:425px;
$med-mobile:375px;
$small-mobile:320px;
