.download {
  padding-top: 3.12rem;
  background-image: url("https://via.placeholder.com/1920x356.png/616667");

  & .wrapper { 
    @include flexBox (auto, auto, center, false); 
  }

  &__img { margin-right: 147px; }

  &__text {

    &__title {
      color: $white;
      @include font (2.2rem, 400)
    }

    &__list {
      margin-top: 12px;
      @include flexBox (auto, auto, auto, false); 
      gap: 13px;

      &__item {
        padding: 0 12px;
        border: 1px solid #000;
        border-radius: 10px;
        background-color: #000;
        color: $white;
        @include flexBox (auto, auto, center, false); 

        &__text {
          @include font (1.3rem, 400);
          line-height: 1;
          text-transform: capitalize;

          &--small {
            display: block;
            @include font (12px, 400);
          }
        }
      
        &::before { 
          vertical-align: middle;
          margin-right: 10px;
        }

        &.google::before { @include icon ("\f3ab", 2rem, 400, $secondary-color); }

        &.apple {
          padding: 10px 15px;

          &::before { @include icon ("\f179", 2.3rem, 400, $secondary-color); } 
        }
        
        &:hover { background-color: transparent; }
      }
    } 
  }

  
  
}